html{
    background-color: gainsboro;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.main, .bar, footer{
    text-align: center;
}

#logo{
    width: 180px;
}

ul{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    font-size: 155%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    transition: 0.4s ease;
    color: grey;
}

.activenav{
    color: black;
}

input[type=number]{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select{
    width: 10%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#submit{
        width: 8%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 7px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}